@inherits MessageBoxBase

<dialog @ref="_dialogRef" class="@CssClass" style="@CssStyles" @oncancel="HandleCloseClick">
    <header class="modal-dialog__header">
        <h2 class="modal-dialog__title">@Title</h2>
        <button type="button" class="modal-dialog__close-btn" @onclick="HandleCloseClick" aria-label="Close">
            &times;
        </button>
    </header>
    <div class="modal-dialog__body message-box__body">
        <div class="message-box__icon">
            @GetIcon()
        </div>
        <p class="message-box__message">@Message</p>
    </div>
    <footer class="modal-dialog__footer">
        @GetButtons()
    </footer>
</dialog>
